client/node_modules/
client/dist/
server/node_modules/
server/dist/
server/public/cs/output/
server/public/static
server/views/index.html
SoftDogStandingBookNetCore/SoftDogStandingBookNetCore/bin/Debug/netcoreapp2.0/output/